# API
API_BASE_URL=https://localhost:44333

# Varsayılan Layout (tek yerden yönetim)
# Seçenekler: default | gradient | tenant-acme
# Değiştirdikten sonra projeyi yeniden başlatın (npm run dev)
NUXT_PUBLIC_DEFAULT_LAYOUT=default
